extends layout.pug

block content
    div.container
        each user in users
            table(class="table")
                thead
                    tr
                        th(scope="col") ID
                        th(scope="col") User Name
                        th(scope="col") Created At 
                        th(scope="col") Updated At 
                    
                tbody
                    tr
                        th= user._id
                        td= user.username
                        td= moment(user.createdAt).format("MMM Do YY")
                        td= moment(user.updatedAt).format("MMM Do YY")
                